* {
    box-sizing: border-box;
}

.foto {
    weight: 600px;
    height: 300px;
}
.hello {
    display: none;
}
body {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

form {
    background-color: lightblue;
    border: 2px solid black;
    
}
.body_form {
    padding: 20px;
}
